<li class="recipe" data-id="<%=`${smoothie._id}`-%>">
  <img src="/smoothie.png" alt="smoothie recipe icon" />
  <div>
    <h4><%= smoothie.name %></h4>
    <p><%= smoothie.ingredients.join(', ') %></p>
  </div>
  <%if(user && user._id.toString()===smoothie.createdBy.toString()){%>
    <a href="<%=`smoothies/edit/${smoothie._id.toString()}`-%>" class="btn btn_outline btn_edit">Edit</a>
  <%}%>
  <%if(user){%>
      <button class="btn btn_view">View more ➡</button>
  <%}%>
    
</li>
