<%-include('partials/header') -%>

<form>
  <h2>Sign up</h2>
  <label for="email">Email:</label>
  <input type="email" name="email" required />
  <div class="email error"></div>
  <label for="password">Password:</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <!-- TODO: add a tooltip for password -->
  <button>Sign up</button>
</form>

<script src="/js/form.js"></script>

<%-include('partials/footer') -%>
