<%-include('partials/header') -%>

<div class="new_smoothie">
  <a href="/smoothies/add" class="btn btn_outline">Add smoothie</a>
</div>
<ul class="recipes">
  <% smoothies.forEach(function(smoothie){ %>
    <%- include('partials/smoothieCard', { smoothie, user }) -%>
  <% }) %>
</ul>

<%-include('partials/footer') -%>
