<%-include('partials/header') -%>

<a href="/smoothies/add" class="btn">Add smoothie</a>

<ul class="recipes">
  <% smoothies.forEach(function(smoothie){ %>
    <%- include('partials/smoothieCard', { smoothie}) -%>
  <% }) %>

  <!-- <li class="recipe add-recipe">
    <a href="/smoothies/add" class="btn">Add smoothie</a>
  </li> -->
</ul>

<%-include('partials/footer') -%>
